*{
    margin: 0;
    padding: 0;
}
body{
    background: #0096c7;
}
.container{
    width: 1200px;
    background: white;
    margin: 10px auto;
}
.superior {
    background: #8d99ae;
    overflow: hidden;
}
.logo{
    float: left;
    width: 300px;
    padding: 20px;
}
.menu{
    float: left;
}