*{
    margin: 0;
    padding: 0;
}
body{
    background: #0096c7;
    font-family: Verdana;
}
.container{
    width: 1200px;
    background: white;
    margin: 10px auto;
}
.superior {
    background: #8d99ae;
    overflow: hidden;
}
.logo{
    float: left;
    width: 300px;
    padding: 10px;
}
.menu{
    float: left;
    padding: 40px;
}
.opciones li{
    float: left;
    list-style: none;
}
.opciones li a{
    color: white;
    padding: 20px;
    text-decoration: none;
    border: 1px solid white;

}
.opciones li a:hover{
    background: #465063;
}


.cuerpo{
    overflow: hidden;
}
.caja{
    float: left;
    width:380px;
    margin: 10px;
    text-align: center;
}
.subtitulo{
    background: #8d99ae;
}
.servicio{
    color: white;
    text-align: center;
    padding: 20px;

}
.efecto:hover{
    opacity: 0.9;
}