*{
    margin: 0;
    padding: 0;
}
body{
    background: white;
    font-family: Verdana;
}
.container{
    width: 1200px;
    background: white;
    margin: 10px auto;
}
.superior {
    background: #68b0ab;
    overflow: hidden;
}
.logo{
    float: left;
    width: 300px;
    padding: 10px;
}
.menu{
    float: left;
    padding: 40px;
}
.opciones li{
    float: left;
    list-style: none;
}
.opciones li a{
    color: white;
    padding: 20px;
    text-decoration: none;
    border: 1px solid white;

}
.opciones li a:hover{
    background: #465063;
}


.cuerpo{
    overflow: hidden;
}
.caja{
    float: left;
    width:380px;
    margin: 8px;
    text-align: center;
    border: 1px solid;
}
.cajados{
    float: left;
    width:580px;
    margin: 8px;
    text-align: center;
    border: 1px solid; 
}
.cajatres{
    float: left;
    width:1180px;
    margin: 8px;
    text-align: center;
    border: 1px solid; 
}
.subtitulo{
    background: #8d99ae;
}
.servicio{
    color: white;
    text-align: center;
    padding: 30px;

}
.efecto:hover{
    opacity: 0.9;
    cursor: pointer;
}
.contenido{
    padding: 30px;
    text-align: justify;
}
.boton{
    padding: 15px 20px;
    margin: 30px 0;
    color: white;
    background: #66a3b8;
    cursor: pointer;
}
.boton:hover{
    background: #2d4249;
}
.titulo{
    text-align: center;
    padding: 20px 0 15px 0;
    color: brown;
    font-size: 30px;
}
.pie{
    background: #8d99ae;
    overflow: hidden;
}
.izquierda{
    float: left;
    width: 550px;
    padding: 15px;
}
.derecha{
    float: left;
    width: 550px;
    padding: 15px;
}
.abajo{
    color: white;
    font-size: 20px;
    padding: 10px;
}
.siguenos{
    text-align: center;
    color: white;
    padding: 30px 0;
}